input {
    border-bottom: 2px solid #626262;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    width: 100%;

    font-family: 'Lato', sans-serif;
    font-size: 25px;

    margin-bottom: 60px;
    margin-top: 56px;
    
}